/* Soluzione qui */

/*************** LARGE MOBILE **************/

@media screen and (min-width: 576px) {

  p.clearfix img{
    float: left;
    margin-right: 10px;
  }

  .recipe .social-networks button.btn{
    flex-basis: 20%;
  }
}


/**************** TABLET ******************/

@media screen and (min-width: 768px){

  main{
    padding: 45px;
  }

  header#topbar{
    justify-content: left;
  }

  section header h2{
    font-size: 2em;
  }

  section header h2.recipe-name span{
    display: inline;
  }

  main .recipe-card .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  main .recipe-card .quick-notes ul li{
    display: inline-block;
    flex-basis: calc(100% / 3);
  } 

  aside.ads{
    display: block;
  }

}

/**************** DESKTOP ******************/

@media screen and (min-width: 992px) {
  section header h2{
    font-size: 2.5em;
  }

  div.recipe-card{
    display: flex;
  }

  .recipe-card .recipe-video{
    width: 70%;
    max-height: 420px;
  }

  .recipe-card .recipe-info{
    width: 30%;
  }

  main .recipe-card .quick-notes ul {
    display: block;
  }

  .container .recipe .social-networks button.btn{
    display: flex;
    justify-content: center;
  }

  .social-networks .label{
    display: inline;
    padding-left: 10px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer address{
    text-align: left;
  }
}